@(repository: gitbucket.core.service.RepositoryService.RepositoryInfo,
  isEditable: Boolean,
  info: Option[Any])(implicit context: gitbucket.core.controller.Context)
@import gitbucket.core.view.helpers._
@gitbucket.core.html.main("Build", Some(repository)) {
  @gitbucket.core.html.menu("build", repository) {
    <script src="@context.path/plugin-assets/ci/vue.js"></script>
    <div id="app">
      @if(isEditable){
        <div class="head" style="height: 24px;">
          <div class="pull-right">
            <form method="POST" action="@url(repository)/build/run">
              <input type="submit" class="btn btn-sm btn-success" value="Run build" :disabled="running || waiting">
            </form>
          </div>
        </div>
      }

      <table class="table table-bordered">
        <tr>
          <th>#</th>
          <th>Status</th>
          <th>Commit</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Duration</th>
        </tr>
        <tr v-for="job in jobs">
          <td>{{job.buildNumber}}</td>
          <td>
            <span v-if="job.status == 'waiting'" class="badge bg-gray">Waiting</span>
            <span v-if="job.status == 'running'" class="badge bg-yellow">Running</span>
            <span v-if="job.status == 'success'" class="badge bg-green">Success</span>
            <span v-if="job.status == 'failure'" class="badge bg-red">Failure</span>
          </td>
          <td><a :href="'@url(repository)/commit/' + job.sha"><span class="monospace">{{job.sha.substring(0, 7)}}</span></a></td>
          <td>{{job.startTime}}</td>
          <td>{{job.endTime}}</td>
          <td>{{job.duration}}</td>
        </tr>
      </table>
    </div>
    @*
    <table class="table table-bordered">
      <tr>
        <th>#</th>
        <th>Status</th>
        <th>Commit</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Duration</th>
      </tr>
      @queuedJobs.map { job =>
        <tr id="job-@job.buildNumber">
          <td>@job.buildNumber</td>
          <td><span class="badge bg-gray">Waiting</span></td>
          <td><a href="@url(repository)/commit/@job.sha"><span class="monospace">@job.sha.substring(0, 7)</span></a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      }
      @runningJob.map { job =>
        <tr>
          <td><a href="javascript:showJobOutput(@job.buildNumber, 'running');">@job.buildNumber</a></td>
          <td><span class="badge bg-yellow">Running</span></td>
          <td><a href="@url(repository)/commit/@job.sha"><span class="monospace">@job.sha.substring(0, 7)</span></a></td>
          <td>@job.startTime.map { startTime => @datetime(new java.util.Date(startTime)) }</td>
          <td></td>
          <td></td>
        </tr>
      }
      @buildResults.map { buildResult =>
        <tr>
          <td><a href="javascript:showJobOutput(@buildResult.buildNumber, '@if(buildResult.success){success} else {failure}');">@buildResult.buildNumber</a></td>
          <td>@if(buildResult.success){ <span class="badge bg-green">Success</span> } else { <span class="badge bg-red">Failure</span> }</td>
          <td><a href="@url(repository)/commit/@buildResult.sha"><span class="monospace">@buildResult.sha.substring(0, 7)</span></a></td>
          <td>@datetime(new java.util.Date(buildResult.start))</td>
          <td>@datetime(new java.util.Date(buildResult.end))</td>
          <td>@((buildResult.end - buildResult.start) / 1000)sec</td>
        </tr>
      }
    </table>
    *@
  }
}
<!-- Modal -->
<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 90%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
var app = new Vue({
  el: '#app',
  data: {
    jobs: [],
    running: false,
    waiting: false
  }
});

function showJobOutput(buildNumber, status){
  var title = '#' + buildNumber + ' ';
  if(status == 'success'){
    title = title + '<span class="badge bg-green">Success</span>';
  } else if(status == 'failure'){
    title = title + '<span class="badge bg-red">Failure</span>';
  } else if(status == 'running'){
    title = title + '<span class="badge bg-yellow">Running</span>';
  }

  $('.modal-title').html(title);

  $('.modal-body').html('<img src="@assets("/common/images/indicator.gif")"> Loading...');
  $('#modal').modal('show');

  $.get('@url(repository)/build/' + buildNumber, function(data){
    $('.modal-body').html($('<pre style="background-color: black; color: white;">').html(data));
  });
}

function updateStatus(){
  $.get('@url(repository)/build/status', function(data){
    app.$data.jobs = data;

    app.$data.running = false;
    app.$data.waiting = false;
    for(var i = 0; i < data.length; i++){
      if(data[i].status == 'running'){
        app.$data.running = true;
      }
      if(data[i].status == 'waiting'){
        app.$data.waiting = true;
      }
    }

    setTimeout(updateStatus, 5000);
  });
}

updateStatus();
</script>