@(repository: gitbucket.core.service.RepositoryService.RepositoryInfo,
  buildNumber: Long, status: String)(implicit context: gitbucket.core.controller.Context)
@import gitbucket.core.view.helpers._
@import io.github.gitbucket.ci.util.JobStatus
@gitbucket.core.html.main(s"Build #${buildNumber} - ${repository.owner}/${repository.name}", Some(repository)) {
  @gitbucket.core.html.menu("build", repository) {
    <script src="@context.path/plugin-assets/ci/vue.js"></script>
    <div id="app">
      <div class="head" style="height: 24px;">
        <div class="pull-right">
          <input type="button" id="kill-build" class="btn btn-sm btn-danger" value="Kill build"
                 v-on:click="killBuild()" :disabled="status != 'running'">
        </div>
        <a href="@url(repository)/build">Build history</a> &gt; #@buildNumber
        @if(status == JobStatus.Success){
          <span class="badge bg-green">Success</span>
        }
        @if(status == JobStatus.Failure){
          <span class="badge bg-red">Failure</span>
        }
        @if(status == JobStatus.Running){
          <span v-if="status == '@JobStatus.Success'" class="badge bg-green">Success</span>
          <span v-if="status == '@JobStatus.Failure'" class="badge bg-red">Failure</span>
          <span v-if="status == '@JobStatus.Running'" class="badge bg-yellow">Running</span>
        }
      </div>
      <pre id="output" style="background-color: black; color: white;" v-html="output"></pre>
      <span v-if="loading"><img src="@assets("/common/images/indicator.gif")"> Loading...</span>
    </div>
  }
}
<script>
var app = new Vue({
  el: '#app',
  data: {
    output: '',
    status: '@status',
    loading: true
  },
  created: function(){
    fetchJobOutput();
  },
  methods: {
    killBuild: function(){
      $.post('@url(repository)/build/kill/@buildNumber', function(){
        // TODO
      });
    }
  }
});

function fetchJobOutput(){
  $.get('@url(repository)/build/output/@buildNumber', function(data){
    app.$data.output = data.output;
    if(data.status == '@JobStatus.Running'){
      setTimeout(function(){ fetchJobOutput(); }, 1000)
    } else {
      app.$data.status = data.status;
      app.$data.loading = false;
    }
  });
}
</script>